parameters:
    level: max
    paths:
        - src
        - tests

    bootstrapFiles:
        - vendor/bin/.phpunit/phpunit-8.3-0/vendor/autoload.php

    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
